name: Build PHP Images

permissions:
  contents: read
  packages: write

on:
  schedule:
    - cron: "30 6 1 * *"
  push:
    branches:
      - main

jobs:
  build-dev:
    name: Build PHP ${{ matrix.php }} Dev Image
    strategy:
      matrix:
        php: [ 8.4, 8.3 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php-dev/php-${{ matrix.php }}.Dockerfile
          tags: ghcr.io/kovah/docker-images/php:${{ matrix.php }}-dev
          push: true
          provenance: false
          platforms: linux/arm64,linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-prod:
    name: Build PHP ${{ matrix.php }} Prod Image
    strategy:
      matrix:
        php: [ 8.4, 8.3 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./php-prod/php-${{ matrix.php }}.Dockerfile
          tags: ghcr.io/kovah/docker-images/php:${{ matrix.php }}
          push: true
          provenance: false
          platforms: linux/arm64,linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
